# Ignore node_modules
node_modules/
serviceAccountKey
# Ignore log files
*.log

# Ignore environment variables
.env
mydayplanner-a6270.json
# Ignore build output
/dist
"serviceAccountKey.json" 
serviceAccountKey.json
